

body{
    background-color: #444;
    text-align: center;
}



h1 {
    color: #ffffff;
    font-family: 'Bangers', cursive;
    line-height: 2rem;
}

h2 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    line-height: 2rem;
}

h3 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    line-height: 2rem;
}


.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 30px;
    text-transform: uppercase;
}

.border_img{
    border-right: 2px solid red;
}

/*ul is parent, li is child*/
/*decendant selectors*/
ul li {
    color: white;
    font-size: 20px;
}

/*The > says that if there is a ul, then*/
/*target the li only one level deep*/
ul > li {
    color: yellow;
}
