

body{
    background-color: #444;
    /*text-align: center;*/
}



h1 {
    color: #ffffff;
    font-family: 'Bangers', cursive;
    line-height: 2rem;
}

h2 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    line-height: 2rem;
}

h3 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    line-height: 2rem;
}


.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 30px;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 0.5;
    display: block;
    margin: auto;
    /*margin-bottom: 60px;*/

}

.border_img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid #ddd;
    padding: 5px;
}

button{
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px 40px 60px;

}

/*ul is parent, li is child*/
/*decendant selectors*/
ul li {
    color: white;
    font-size: 20px;
}

/*The > says that if there is a ul, then*/
/*target the li only one level deep*/
ul > li {
    color: yellow;
}

.row{
    display: flex;
    width: 100%;
}

.row::after {       /*do this AFTER a row is created*/
    display: block;
    clear: both;    /*clear any floats*/
    content: "";    /*reset the content*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 88.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Grab all elements */
* {
    /*takes padding and margin and makes
    it part of that element*/
    box-sizing: border-box;
}

/*attribute selector []*/
[class*="col-"] {
    border: 2px solid red;
    padding: 15px;
    float: left;
}